
body {
  padding: 0 0 20px;
  color: #333;
}

a, a:link, a:link, a:link, a:hover {
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}

a:link {
  color: #663639;
}

a:visited {
  color: #835959;
}

a:hover, a:active {
  color: #9C203E;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

h1 {
  font-size: 186%;
}

h2 {
  font-size: 136%;
}

h3 {
  font-size: 126%;
}

h4 {
  font-size: 116%;
}

h5 {
  font-size: 106%;
}


ul {
  list-style: none;
}

/* 
 * header line 
 */
#header {
  background: #555;
  margin: 0 0 25px;
  padding: 0 0 8px;
}
 
#header h1 {
  font: 170% arial;
  margin: 0 0 0 40px;
  padding: 3px 0;
  color: #fff;
  border: none;
  text-align: center;
}

/* 
 * navigation list 
 */
#navigation {
  padding: 0 0 8px;
  margin: 0;
  font-weight: bold;
  font: bold 96%;
}

#navigation a, #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active {
  text-decoration: none;
  cursor: pointer;
  padding: 4px 10px 2px;
}

/* 
 * body wrappers 
 */

#wrapper {
  min-width: 770px;
  /*max-width: 1200px;*/
  margin: 0 auto;
  position: relative;
}

#content-wrap {
  position: relative;
  width: 100%;
}

#content {
  width: 75%;
  float: left;
  padding: 10px 10px 10px 10px;
  /*margin: 0 50px;*/
}

/*
 * sidebar
 */

#sidebar {
  /*position: absolute;*/
  float: right;
  top: 0;
  right: 0;
  width: 20%;
  border-top: 5px solid #999;
  padding-top: 1px;
  padding-bottom: 40px;
}

.featurebox {
  color: #333;
  padding: 15px 20px 20px;
  border: 1px solid #d7d7d7;
  margin: 0 0 1.5em;
  background: #f6f6f6;
}

.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {
  margin: 0 0 .3em;
  border-bottom: 1px solid #9C203E;
  color: #9C203E;
  text-align: center;
} 

.featurebox p {
  border: none;
  margin: 0 0 1em;
  color: #444;
} 

.featurebox a {
  font-weight: bold;
}

/*
 * footer
 */

#footer {
  /*width: 95%;*/
  clear: both;
  border-top: 1px solid #E3E8EE;
  padding: 10px 0 30px;
  font-size: 86%;
  color: #999
} 
#footer p {
  margin: 0
} 

#footer a:link {
  color: #999
}

/*
 * style for objects
 */

ul.faculties, ul.group_subjects {
  list-style: /*square*/none outside;
}

ul.faculties li:before, ul.group_subjects li:before {
  color: #800000;  
  font-size: 80%;
  content: "▪";
}

table {
  border: 2px solid #9C203E;
  border-collapse: collapse;
}

td {
  padding: 3px;
  min-width: 90px;
  border: 1px solid #999;
} 

th {
  background: #eee;
  padding: 10px 6px;
  text-align: center;
  border: 1px solid #999;
} 

#groups td {
  border-top: 1px solid #9C203E;
  border-bottom: 1px solid #9C203E;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
} 

#groups td.faculty {
  text-align: center;
  font-size: 100%;
  color: #000;
  background: #efefef;
  padding: 6px;
}

#groups div.group {
  text-align: center;
}

#groups div.course_label {
  text-align: center;
  width: 100%;
  padding: 2px 2px 2px 2px;
  border-bottom: 1px solid #999;
  margin-left: -2px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 96%;
}

#students tr.student:hover {
  background: #FFF0F5; 
} 

#students td {
  border: 1px solid #999;
  background-color: transparent; 
} 

td.name {
  text-align: left;
} 

td.mark, td.term_paper, td.date {
  text-align: center;
} 

td.actions {
  text-align: right;
  line-height: 150%;
  padding: 5px;
} 

td.actions a {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
} 

td.actions a:link, td.actions a:visited  {
  border: 1px solid #663639;
  color: #663639;
  background: #FDF5E6;
}

td.actions a:hover, td.actions a:active {
  border: 1px solid #9C203E;
  color: #9C203E;
  background: #FFF5EE;
}

div.errorExplanation h2 {
  color: #f00;
}

div.errorExplanation li {
  font-size: 120%;
}

div.fieldWithErrors, div.usertip {
  display: inline;
}

div.usertip {
  width: 35%;
  text-align: right;
  float: left;
  padding: 0px 10px 0px 10px;
  line-height: 150%;
}

div.inputline {
  padding: 5px 0px 5px 0px;
}


