<div class="student_added_example"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> 
&mdash; этим цветом отме&shy;чены студенты, курсовые работы которых были сохранены.
<br /><br />
<div class="student_not_added_example"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
&mdash; данных цвет отме&shy;чает студентов, курсовые работы которых сохра&shy;нить не удалось.
