<% form_for :post, :url => {:action => "change_year"} do |f| %>
  <h2>Выберите год:</h2>
  <%= f.select("year", @year_list.map{|y| [study_period(y), y] }, :selected => @year) %>
  <%= f.submit "Сменить" %>
<% end %>
