<h1>Система учета и хранения курсовых работ МГИУ</h1>

<% if controller.kind_of? TermPaperController %>
  <%= navigation_list("Главная", @faculty, @group, @subject).join(" > ") %>
<% end %>

<br />

<%= yield %>

<br />

<div id="sidebar">
  <div class="featurebox">
    Тукщий учебный период: <%= study_period %>
    <%= link_to "Сменить учебный период", :controller => "term_paper", :action => "change_year" %>
  </div>
</div>
